//SASS variables
$backdrop-bg-color: rgba(255, 255, 255, 0.5);
$default-reset-bg-color: #949494;

//CSS Variables
:root {
    --backdrop-bg-color: #{$backdrop-bg-color};
    --default-reset-bg-color: #{$default-reset-bg-color};
}

::backdrop {
    --backdrop-bg-color: #{$backdrop-bg-color};
}