@media (prefers-color-scheme:dark) {
    //SASS variables
    $backdrop-bg-color: rgba(0, 0, 0, 0.5);
    $header-bg-color: #0c0c0c;
    $footer-bg-color: black;

    //CSS Variables
    :root {

        --backdrop-bg-color: #{$backdrop-bg-color};
        --header-bg-color: #{$header-bg-color};
        --footer-bg-color: #{$footer-bg-color};

        .footer__image {
            filter: invert(100%) hue-rotate(180deg);
        }
    }

    ::backdrop {
        --backdrop-bg-color: #{$backdrop-bg-color};
    }
}