@media (prefers-color-scheme:dark) {
    //SASS variables
    $backdrop-bg-color: rgba(0, 0, 0, 0.5);
    $default-reset-bg-color: #6b6b6b;

    //CSS Variables
    :root {

        --backdrop-bg-color: #{$backdrop-bg-color};
        --default-reset-bg-color: #{$default-reset-bg-color};

        .footer__image {
            filter: invert(100%) hue-rotate(180deg);
        }
    }

    ::backdrop {
        --backdrop-bg-color: #{$backdrop-bg-color};
    }
}