@use "../utils/" as *;

.modal-window {
    @include absolute-center;

    min-width: 50vw;
    min-height: 30vh;

    &::backdrop {
        background-color: var(--backdrop-bg-color);
    }

    &__close-button {}

    &__content-wrapper {}
}