@use "../utils/" as *;

.select-dropdown {
    width: 100%;

    padding: 5px;

    border-radius: 5px;

    background-color: var(--bg-color-secondary);

    &:focus {
        outline: 2px solid var(--logo-color)
    }

    &__option {}
}