@use "../utils/" as *;

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-only {
        flex-direction: column;
    }

    background-color: var(--header-bg-color);

    border-bottom: 2px solid var(--logo-color);

    &__link {
        display: flex;

        align-items: center;

        @include mobile-only {
            @include center-flex;
            font-size: 15px;
        }

        font-size: 20px;

        &:visited {
            color: currentColor;
        }

        &-brand {
            font-weight: 700;
        }
    }

    &__image {
        @include mobile-only {
            height: 45px;
            aspect-ratio: 1/1;
        }
    }


    &__navigation {
        flex: 0.5;
    }

    &__list {
        display: flex;
        gap: 35px;

        @include mobile-only {
            margin-bottom: 25px;
        }
    }

    &__item {

        &-link {}
    }

}